@media screen and (max-width: 640px) {
    h2{
        font-size: 2rem;
    }
    .playArea{
        min-width: 90vw;
    }
    .button{
        padding: 5px;
    }
    .moves{
        font-size: 5rem;
        margin-inline: 10px;
        margin-block: 5px;
        padding: 10px;
    }
    .outcomes p{
        font-size: 1.5rem;
    }

    .outcomes{
        width: 100%;
        padding: 5px;
        margin: 10px;
        /* display: none; */
    }
}